<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="RabbitMqHostname" value="localhost" />
        <add key="RabbitMqUser" value="guest" />
        <add key="RabbitMqPassword" value="guest" />
        <add key="BettingLineRestServiceUri" value="http://localhost:7070" />
    </appSettings>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="tcpWindowsSecurity" openTimeout="00:00:10" closeTimeout="00:00:10" sendTimeout="infinite" receiveTimeout="infinite" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
            <security mode="None" />
          </binding>
        </netTcpBinding>
      </bindings>
      <behaviors>
            <serviceBehaviors>
                <behavior name="default-service">
                  <serviceMetadata httpGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WcfTransmitter.Service.WcfEndpoint.BettingLineService" behaviorConfiguration="default-service">
              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
              <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpWindowsSecurity"
                        contract="WcfTransmitter.Service.WcfEndpoint.Contracts.IBettingLineService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
              <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/BettingLineService/" />
                        <add baseAddress="net.tcp://localhost:8734/BettingLineService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog" forceLogLevel="Debug" />
    </sharedListeners>
  </system.diagnostics>
</configuration>