<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Debug">

  <variable name="varDirectory" value="${basedir}\" />

  <variable name="logDirectory" value="${varDirectory}Log\" />
  <variable name="messageDirectory" value="${logDirectory}Messages\" />

  <variable name="logFilePrefix" value="_${date:format=yyyyMMdd}.log" />
  <variable name="archiveFilePrefix" value="_${date:format=yyyyMMdd}.{#####}.log" />

  <variable name="fileLayout"
            value="${longdate} ${pad:inner=[${threadid}]:padding=5} ${uppercase:${level:padding=-5}} ${logger} - ${message:whenEmpty=(no message)} ${onexception:; Exception\: ${exception:format=Type,Message}${newline}}" />
  <variable name="exceptionFileLayout"
            value="${longdate} ${pad:inner=[${threadid}]:padding=5} ${uppercase:${level:padding=-5}} ${logger} - ${message:whenEmpty=(no message)}${newline}${exception:format=Type,Message,StackTrace,Data:innerFormat=Type,Message,StackTrace,Data:maxInnerExceptionLevel=10}${newline}" />

  <targets async="true">

    <target name="DebugFile" xsi:type="File" fileName="${logDirectory}Output${logFilePrefix}"
            archiveFileName="${logDirectory}Debug${archiveFilePrefix}" archiveAboveSize="10485760"
            layout="${fileLayout}" />

    <target name="InformationFile" xsi:type="File" fileName="${logDirectory}Info${logFilePrefix}"
            archiveFileName="${logDirectory}Debug${archiveFilePrefix}" archiveAboveSize="10485760"
            layout="${fileLayout}" />

    <target name="ExceptionFile" xsi:type="File" fileName="${logDirectory}Error${logFilePrefix}"
            archiveFileName="${logDirectory}Exception${archiveFilePrefix}" archiveAboveSize="10485760"
            layout="${exceptionFileLayout}" />

    <target name="Wcf" xsi:type="File" fileName="${messageDirectory}wcf${logFilePrefix}"
            archiveFileName="${messageDirectory}wcf${archiveFilePrefix}" archiveAboveSize="10485760"
            layout="${fileLayout}" />

    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="DebugFile"/>
    <logger name="*" level="Info" writeTo="InformationFile" />
    <logger name="*" minlevel="Error" writeTo="ExceptionFile" />
    <logger name="System.ServiceModel.MessageLogging" minlevel="Debug" maxlevel="Fatal" writeTo="Wcf" final="true"/>
    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="console"/>
  </rules>
</nlog>
